// 폰트
$preferred_font: 'Noto Sans KR', sans-serif !default;

// 폰트 아이콘 위치
$font-path: '../fonts' !default;
$zmdi-font-path: '../fonts/Material-Design-Iconic-Font' !default;
$md-font-path: '../fonts/Material-Design-Iconic-Font' !default;
$material-font-path: '../fonts/Material-Design-Icons' !default;
$wi-path: '../fonts/Weather-Icons' !default;

// 색상
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

// 텍스트 색상
$text-color-primary: rgba-tpl($color-black, 0.87) !default;
$text-link-color: $color-accent !default;
$text-color-black: rgba-tpl($color-black, 0.87) !default;
$text-color-white: rgba-tpl($color-white, 0.87) !default;

// 기본 버튼
$button-padding: 16px !default;
$button-border-radius: 2px !default;
$button-height-large: 44px !default;
$button-height: 36px !default;
$button-height-small: 30px !default;

$button-fab-size: 56px !default;
$button-fab-size-large: 72px !default;
$button-fab-size-small: 40px !default;
$button-fab-font-size: 24px !default;

// 쉐도우
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
