// FONT
$preferred-font: 'Noto Sans KR', sans-serif !default;
$root-mobile-font-size: 12px !default;
$root-tablet-font-size: 13px !default;
$root-desktop-font-size: 14px !default;
$em-base: $root-desktop-font-size;


// ICON PATH
$font-path: '../fonts' !default;
$zmdi-font-path: '../fonts/Material-Design-Iconic-Font' !default;
$md-font-path: '../fonts/Material-Design-Iconic-Font' !default;
$material-font-path: '../fonts/Material-Design-Icons' !default;
$wi-path: '../fonts/Weather-Icons' !default;


// THEME COLOR
$brand-primary: $palette-indigo-500 !default;
$brand-primary-text: $palette-indigo-700 !default;
$brand-accent: $palette-pink-500 !default;
$brand-accent-text: $palette-pink-700 !default;
$brand-success: $palette-blue-500 !default;
$brand-success-text: $palette-blue-700 !default;
$brand-info: $palette-cyan-500 !default;
$brand-info-text: $palette-cyan-700 !default;
$brand-warning: $palette-orange-500 !default;
$brand-warning-text: $palette-orange-700 !default;
$brand-danger: $palette-red-500 !default;
$brand-danger-text: $palette-red-700 !default;


// TEXT COLOR
$text-color-primary: rgba-tpl($color-black, 0.87) !default;
$text-link-color: $brand-accent !default;
$text-color-black: rgba-tpl($color-black, 0.87) !default;
$text-color-white: rgba-tpl($color-white, 0.87) !default;


// BUTTON
$button-padding: 16px !default;
$button-border-radius: 2px !default;
$button-height: 36px !default;
$button--default-icon-size: 20px !default;
$button--default-height-large: 44px !default;
$button--default-height-small: 30px !default;
$button--fab-size: 56px !default;
$button--fab-font-size: 24px !default;
$button--fab-icon-size: 24px !default;
$button--fab-size-large: 72px !default;
$button--fab-size-small: 40px !default;
$button--flat-icon-size: 20px !default;
$button--flat-icon-size-large: 24px !default;
$button--flat-font-size-large: 20px !default;
$button--flat-icon-size-small: 16px !default;
$button--flat-font-size-small: 12px !default;
$button--icon-size: 32px !default;
$button--icon-font-size: 24px !default;
$button--icon-icon-size: 24px !default;
$button--icon-large-size: 38px !default;
$button--icon-large-font-size: 30px !default;
$button--icon-large-icon-size: 30px !default;
$button--icon-small-size: 38px !default;
$button--icon-small-font-size: 30px !default;
$button--icon-small-icon-size: 30px !default;


// BADGE
$badge-size: 22px !default;
$badge-padding: 2px !default;
$badge-font-size: 12px !default;
$badge-overlap: 12px !default;


// LABEL
$label-border-radius: 0.25em !default;
$label-padding: 0.1em 0.6em 0.2em !default;
$label-font-size: 80% !default;


// TOOLTIP
$tooltip-border-radius: 2px !default;
$tooltip-padding: 0 8px !default;
$tooltip-size: 22px !default;
$tooltip-font-size: 10px !default;
$tooltip-large-size: 32px !default;
$tooltip-large-font-size: 14px !default;


// LIST
$list-padding: 8px 0 !default;
$list--item-min-height: 48px !default;
$list--item-padding: 16px !default;
$list--item-primary-content-margin: 32px !default;
$list--item-icon-size: 24px !default;
$list--item-icon-font-size: 24px !default;
$list--item-avater-border-radius: 50% !default;
$list--item-avatar-size: 40px !default;
$list--item-avatar-font-size: 40px !default;


// TEXTFIELD
$textfield-vertical-padding: 20px !default;
$textfield-font-size: 16px !default;
$textfield--input-vertical-padding: 8px !default;
$textfield--input-font-size: 16px !default;
$textfield--label-font-size: 16px !default;
$textfield--floating-label-font-size: 12px !default;
$textfield--error-font-size: 12px !default;
$textfield--count-font-size: 12px !default;
$textfield--icon-font-size: 24px !default;
$textfield--icon-padding: 8px !default;


// CHECKBOX
$checkbox-size: 24px !default;
$checkbox--label-size: 24px !default;
$checkbox--label-font-size: 16px !default;
$checkbox-check-checked-width: 6px !default;
$checkbox-check-checked-height: 10px !default;
$checkbox-background-border-radius: 2px !default;
$checkbox-background-size: 16px !default;


// RADIO
$radio-size: 24px !default;
$radio--label-font-size: 16px !default;
$radio-check-size: 8px !default;
$radio-background-size: 16px !default;


// SWITCH
$switch-size: 24px;
$switch--label-border-radius: 14px !default;
$switch--label-width: 36px !default;
$switch--label-height: 14px !default;
$switch-check-border-radius: 50% !default;
$switch-check-size: 20px !default;


// LAYOUT
$layout--header-max-height: 100% !default;
$layout--header-min-height-mobile: 56px !default;
$layout--header-min-height-desktop: 64px !default;
$layout--content-padding-mobile: 8px !default;
$layout--content-padding-desktop: 16px !default;
$layout--header-row-padding-mobile: 0 40px 0 70px !default;
$layout--header-row-padding-desktop: 0 40px 0 80px !default;


// SHADOW
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
