// Common
.badge {
  position: relative;
  margin-right: 24px;
  white-space: nowrap;

  &[data-badge]:after {
    content: attr(data-badge);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    top: -(22px / 2);
    right: -24px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;

    border-radius: 50%;
    width: 22px;
    height: 22px;

    background-color: #ffffff;
    @include shadow-1dp();
  }

  // Overlap Badge
  &.badge--overlap {
    margin-right: 10px;

    &:after {
      right: -10px;
    }
  }

  &:not([data-badge]) {
    margin-right: auto;
  }
}

// Colorful Badge
@each $color_name, $color in $colors {
  @each $color_key, $color_value in $color {
    .badge--#{$color_key} {
      &[data-badge]:after {
        background-color: $color_value;
        color: #fff;
      }
    }
  }
}

@each $color_name, $color in $colors-text {
  @each $color_key, $color_value in $color {
    .badge--#{$color_key} {
      &[data-badge]:after {
        color: $color_value;
      }
    }
  }
}
