// Common
.badge {
  position: relative;
  margin-right: ($badge-size + $badge-padding);
  white-space: nowrap;

  &[data-badge]:after {
    content: attr(data-badge);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    top: -($badge-size / 2);
    right: -($badge-size + $badge-padding);

    font-family: $preferred_font;
    font-size: $badge-font-size;
    line-height: $badge-font-size;
    font-weight: 600;

    border-radius: 50%;
    width: $badge-size;
    height: $badge-size;

    background-color: #ffffff;
    @include shadow-1dp();
  }

  // Overlap Badge
  &.badge--overlap {
    margin-right: ($badge-size - $badge-overlap);

    &:after {
      right: -($badge-size - $badge-overlap);
    }
  }

  &:not([data-badge]) {
    margin-right: auto;
  }
}

// Colorful Badge
@each $color_name, $color in $colors {
  @each $color_key, $color_value in $color {
    .badge--#{$color_key} {
      &[data-badge]:after {
        background-color: $color_value;
        color: #fff;
      }
    }
  }
}

@each $color_name, $color in $colors-text {
  @each $color_key, $color_value in $color {
    .badge--#{$color_key} {
      &[data-badge]:after {
        color: $color_value;
      }
    }
  }
}
