// Common
.button {
  position: relative;
  margin: 0;
  padding: 0 $button-padding;
  border: 0;
  border-radius: $button-border-radius;
  display: inline-block;
  height: $button-height;
  @include typo-button();
  line-height: $button-height;
  background-color: transparent;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  will-change: opacity, transform;
  transition: all .3s ease-out;
  @include shadow-2dp();

  &:hover {
    @include shadow-6dp();
  }

  &:active {
    @include shadow-4dp();
  }

  &[disabled],
  &.button--disabled {
    box-shadow: none;

    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  & > i {
    line-height: inherit;

    &.left {
      float: left;
      margin-right: 10px;
    }

    &.right {
      float: right;
      margin-left: 10px;
    }
  }
}

// Default Button
.button--default {
  background-color: #fafafa;

  & > i { font-size: 20px; }

  &.button--default-large {
    height: 44px;
    line-height: 44px;
  }

  &.button--default-small {
    height: 30px;
    line-height: 30px;
  }
}

// FAB Button
.button--fab {
  border-radius: 50%;
  margin: auto;
  padding: 0;
  width: 56px;
  min-width: 56px;
  height: 56px;
  font-size: 24px;
  background-color: #fafafa;

  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    line-height: 24px;
  }

  &.button--fab-large {
    width: 72px;
    min-width: 72px;
    height: 72px;
  }

  &.button--fab-small {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}

// Flat Button
.button--flat {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(158, 158, 158, 0.2);
    box-shadow: none;
  }

  &[disabled],
  &.button--disabled {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  & > i { font-size: 20px; }

  &.button--flat-large {
    font-size: 20px;
    line-height: 20px;

    & > i { font-size: 24px; }
  }

  &.button--flat-small {
    font-size: 12px;
    line-height: 12px;

    & > i { font-size: 16px; }
  }
}

// Icon Button
.button--icon {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 32px;
  min-width: 32px;
  height: 32px;
  font-size: 24px;
  color: inherit;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(158, 158, 158, 0.2);
    box-shadow: none;
  }

  &[disabled],
  &.button--disabled {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    line-height: 24px;
  }

  &.button--icon-large {
    width: 38px;
    min-width: 38px;
    height: 38px;
    font-size: 30px;

    & > i {
      width: 30px;
      line-height: 30px;
    }
  }

  &.button--icon-small {
    width: 26px;
    min-width: 26px;
    height: 26px;
    font-size: 18px;

    & > i {
      width: 18px;
      line-height: 18px;
    }
  }
}

// Colorful Button
@each $color_name, $color in $colors {
  @each $color_key, $color_value in $color {
    .button--#{$color_key} {
      background-color: $color_value;
      color: #fff;

      &:hover {
        background-color: tint($color_value, 20);
      }

      &[disabled],
      &.button--disabled {
        background-color: tint($color_value, 60);
      }
    }
  }
}

@each $color_name, $color in $colors-text {
  @each $color_key, $color_value in $color {
    .button--#{$color_key} {
      color: $color_value;

      &[disabled],
      &.button--disabled {
        color: tint($color_value, 60);
      }
    }
  }
}

.button--white-text {
  color: $color-white;

  &[disabled],
  &.button--disabled {
    color: shade($color-white, 40);
  }
}
