// Common
.button {
  display: inline-block;
  position: relative;
  margin: 0;
  border: 0;
  border-radius: $button-border-radius;
  padding: 0 $button-padding;
  height: $button-height;
  @include typo-button();
  line-height: $button-height;
  background-color: transparent;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  will-change: opacity, transform;
  transition: all .3s ease-out;
  @include shadow-2dp();

  &:hover {
    @include shadow-6dp();
  }

  &:active {
    @include shadow-4dp();
  }

  &[disabled],
  &.button--disabled {
    box-shadow: none;

    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  & > i {
    line-height: inherit;

    &.left {
      float: left;
      margin-right: 10px;
    }

    &.right {
      float: right;
      margin-left: 10px;
    }
  }
}

// Default Button
.button--default {
  background-color: #fafafa;

  & > i { font-size: $button--default-icon-size; }

  &.button--default-large {
    height: $button--default-height-large;
    line-height: $button--default-height-large;
  }

  &.button--default-small {
    height: $button--default-height-small;
    line-height: $button--default-height-small;
  }
}

// FAB Button
.button--fab {
  margin: auto;
  border-radius: 50%;
  padding: 0;
  width: $button--fab-size;
  min-width: $button--fab-size;
  height: $button--fab-size;
  font-size: $button--fab-font-size;
  background-color: #fafafa;

  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $button--fab-icon-size;
    line-height: $button--fab-icon-size;
  }

  &.button--fab-large {
    width: $button--fab-size-large;
    min-width: $button--fab-size-large;
    height: $button--fab-size-large;
  }

  &.button--fab-small {
    width: $button--fab-size-small;
    min-width: $button--fab-size-small;
    height: $button--fab-size-small;
  }
}

// Flat Button
.button--flat {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  &[disabled],
  &.button--disabled {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  & > i { font-size: $button--flat-icon-size; }

  &.button--flat-large {
    font-size: $button--flat-font-size-large;
    line-height: $button--flat-font-size-large;

    & > i { font-size: $button--flat-icon-size-large; }
  }

  &.button--flat-small {
    font-size: $button--flat-font-size-small;
    line-height: $button--flat-font-size-small;

    & > i { font-size: $button--flat-icon-size-small; }
  }
}

// Icon Button
.button--icon {
  margin: 0;
  border-radius: 50%;
  padding: 0;
  width: $button--icon-size;
  min-width: $button--icon-size;
  height: $button--icon-size;
  font-size: $button--icon-font-size;
  color: inherit;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }

  &[disabled],
  &.button--disabled {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $button--icon-icon-size;
    line-height: $button--icon-icon-size;
    transform: translate(-50%, -50%);
  }

  &.button--icon-large {
    width: $button--icon-large-size;
    min-width: $button--icon-large-size;
    height: $button--icon-large-size;
    font-size: $button--icon-large-font-size;

    & > i {
      width: $button--icon-large-icon-size;
      line-height: $button--icon-large-icon-size;
    }
  }

  &.button--icon-small {
    width: $button--icon-small-size;
    min-width: $button--icon-small-size;
    height: $button--icon-small-size;
    font-size: $button--icon-small-font-size;

    & > i {
      width: $button--icon-small-icon-size;
      line-height: $button--icon-small-icon-size;
    }
  }
}

// Colorful Button
@each $color_name, $color in $colors {
  @each $color_key, $color_value in $color {
    .button--#{$color_key} {
      background-color: $color_value;
      color: #fff;

      &:hover {
        background-color: tint($color_value, 20);
      }

      &[disabled],
      &.button--disabled {
        background-color: tint($color_value, 60);
      }
    }
  }
}

@each $color_name, $color in $colors-text {
  @each $color_key, $color_value in $color {
    .button--#{$color_key} {
      color: $color_value;

      &[disabled],
      &.button--disabled {
        color: tint($color_value, 60);
      }
    }
  }
}

.button--white-text {
  color: $color-white;

  &[disabled],
  &.button--disabled {
    color: shade($color-white, 40);
  }
}
