.checkbox {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $checkbox-size;
}

.checkbox--input {
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  appearance: none;
  opacity: 0;
}

.checkbox--label {
  position: relative;
  margin: 0;
  padding-left: $checkbox--label-size;
  font-size: $checkbox--label-font-size;
  line-height: $checkbox--label-size;
  cursor: pointer;

  .checkbox--input:disabled + & {
    color: $palette-grey-500;
    cursor: not-allowed;
  }

  &:before,
  &:after {
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    cursor: pointer;
    overflow: hidden;
    content: '';
  }

  // check
  &:before {
    z-index: 1;

    .checkbox--input:checked + & {
      top: 7px;
      left: 1px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: $checkbox-check-checked-width;
      height: $checkbox-check-checked-height;
      transform: rotateZ(40deg);
      transform-origin: 100% 100%;
    }

    .checkbox--input:not(:checked) + & {
      top: 12px;
      left: 6px;
      border: 3px solid transparent;
      width: 0;
      height: 0;
      transform: rotateZ(40deg);
      transform-origin: 100% 100%;
    }

    .checkbox--input:disabled:checked + & {
      border-right: 2px solid rgba-tpl(#fff, .8);
      border-bottom: 2px solid rgba-tpl(#fff, .8);
      cursor: not-allowed;
    }

    .checkbox--input:disabled:not(:checked) + & {
      cursor: not-allowed;
    }
  }

  // background
  &:after {
    top: 5px;
    left: 0;
    display: inline-block;
    margin: 0;
    border-radius: $checkbox-background-border-radius;
    width: $checkbox-background-size;
    height: $checkbox-background-size;

    .checkbox--input:checked + & {
      border: 2px solid $brand-primary;
      background-color: $brand-primary;
    }

    .checkbox--input:not(:checked) + & {
      border: 2px solid $palette-grey-700;
      background-color: transparent;
    }

    .checkbox--input:disabled:checked + & {
      border: 2px solid $palette-grey-500;
      background-color: $palette-grey-500;
      cursor: not-allowed;
    }

    .checkbox--input:disabled:not(:checked) + & {
      border: 2px solid $palette-grey-500;
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}
