// Core
.flex-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch;
}

.flex-grid--cell {
  box-sizing: border-box;
}

// Common
.flex-grid--top { align-self: flex-start; }
.flex-grid--middle { align-self: center; }
.flex-gird--bottom { align-self: flex-end; }
.flex-grid--stretch { align-self: stretch; }

.flex-grid--order-1 { order: 1; }
.flex-grid--order-2 { order: 2; }
.flex-grid--order-3 { order: 3; }
.flex-grid--order-4 { order: 4; }
.flex-grid--order-5 { order: 5; }
.flex-grid--order-6 { order: 6; }
.flex-grid--order-7 { order: 7; }
.flex-grid--order-8 { order: 8; }
.flex-grid--order-9 { order: 9; }
.flex-grid--order-10 { order: 10; }
.flex-grid--order-11 { order: 11; }
.flex-grid--order-12 { order: 12; }

// Phone
@media (max-width: 479px) {
  .flex-grid--hide-phone { display: none; }
  .flex-grid--order-phone-1 { order: 1; }
  .flex-grid--order-phone-2 { order: 2; }
  .flex-grid--order-phone-3 { order: 3; }
  .flex-grid--order-phone-4 { order: 4; }
  .flex-grid--order-phone-5 { order: 5; }
  .flex-grid--order-phone-6 { order: 6; }
  .flex-grid--order-phone-7 { order: 7; }
  .flex-grid--order-phone-8 { order: 8; }
  .flex-grid--order-phone-9 { order: 9; }
  .flex-grid--order-phone-10 { order: 10; }
  .flex-grid--order-phone-11 { order: 11; }
  .flex-grid--order-phone-12 { order: 12; }
  .flex-grid--col-1, .flex-grid--col-phone-1 { width: 25%; }
  .flex-grid--col-2, .flex-grid--col-phone-2 { width: 50%; }
  .flex-grid--col-3, .flex-grid--col-phone-3 { width: 75%; }
  .flex-grid--col-4, .flex-grid--col-phone-4 { width: 100%; }
  .flex-grid--col-5, .flex-grid--col-phone-5 { width: 100%; }
  .flex-grid--col-6, .flex-grid--col-phone-6 { width: 100%; }
  .flex-grid--col-7, .flex-grid--col-phone-7 { width: 100%; }
  .flex-grid--col-8, .flex-grid--col-phone-8 { width: 100%; }
  .flex-grid--col-9, .flex-grid--col-phone-9 { width: 100%; }
  .flex-grid--col-10, .flex-grid--col-phone-10 { width: 100%; }
  .flex-grid--col-11, .flex-grid--col-phone-11 { width: 100%; }
  .flex-grid--col-12, .flex-grid--col-phone-12 { width: 100%; }
  .flex-grid--offset-1, .flex-grid--offset-phone-1 { margin-left: 25%; }
  .flex-grid--offset-2, .flex-grid--offset-phone-2 { margin-left: 50%; }
  .flex-grid--offset-3, .flex-grid--offset-phone-3 { margin-left: 75%; }
}

// Tablet
@media (min-width: 480px) and (max-width: 839px) {
  .flex-grid--hide-tablet { display: none; }
  .flex-grid--order-tablet-1 { order: 1; }
  .flex-grid--order-tablet-2 { order: 2; }
  .flex-grid--order-tablet-3 { order: 3; }
  .flex-grid--order-tablet-4 { order: 4; }
  .flex-grid--order-tablet-5 { order: 5; }
  .flex-grid--order-tablet-6 { order: 6; }
  .flex-grid--order-tablet-7 { order: 7; }
  .flex-grid--order-tablet-8 { order: 8; }
  .flex-grid--order-tablet-9 { order: 9; }
  .flex-grid--order-tablet-10 { order: 10; }
  .flex-grid--order-tablet-11 { order: 11; }
  .flex-grid--order-tablet-12 { order: 12; }
  .flex-grid--col-1, .flex-grid--col-tablet-1 { width: 12.5%; }
  .flex-grid--col-2, .flex-grid--col-tablet-2 { width: 25%; }
  .flex-grid--col-3, .flex-grid--col-tablet-3 { width: 37.5%; }
  .flex-grid--col-4, .flex-grid--col-tablet-4 { width: 50%; }
  .flex-grid--col-5, .flex-grid--col-tablet-5 { width: 62.5%; }
  .flex-grid--col-6, .flex-grid--col-tablet-6 { width: 75%; }
  .flex-grid--col-7, .flex-grid--col-tablet-7 { width: 87.5%; }
  .flex-grid--col-8, .flex-grid--col-tablet-8 { width: 100%; }
  .flex-grid--col-9, .flex-grid--col-tablet-9 { width: 100%; }
  .flex-grid--col-10, .flex-grid--col-tablet-10 { width: 100%; }
  .flex-grid--col-11, .flex-grid--col-tablet-11 { width: 100%; }
  .flex-grid--col-12, .flex-grid--col-tablet-12 { width: 100%; }
  .flex-grid--offset-1, .flex-grid--offset-tablet-1 { margin-left: 12.5%; }
  .flex-grid--offset-2, .flex-grid--offset-tablet-2 { margin-left: 25%; }
  .flex-grid--offset-3, .flex-grid--offset-tablet-3 { margin-left: 37.5%; }
  .flex-grid--offset-4, .flex-grid--offset-tablet-4 { margin-left: 50%; }
  .flex-grid--offset-5, .flex-grid--offset-tablet-5 { margin-left: 62.5%; }
  .flex-grid--offset-6, .flex-grid--offset-tablet-6 { margin-left: 75%; }
  .flex-grid--offset-7, .flex-grid--offset-tablet-7 { margin-left: 87.5%; }
}

// Desktop
@media (min-width: 840px) {
  .flex-grid--hide-desktop { display: none; }
  .flex-grid--order-desktop-1 { order: 1; }
  .flex-grid--order-desktop-2 { order: 2; }
  .flex-grid--order-desktop-3 { order: 3; }
  .flex-grid--order-desktop-4 { order: 4; }
  .flex-grid--order-desktop-5 { order: 5; }
  .flex-grid--order-desktop-6 { order: 6; }
  .flex-grid--order-desktop-7 { order: 7; }
  .flex-grid--order-desktop-8 { order: 8; }
  .flex-grid--order-desktop-9 { order: 9; }
  .flex-grid--order-desktop-10 { order: 10; }
  .flex-grid--order-desktop-11 { order: 11; }
  .flex-grid--order-desktop-12 { order: 12; }
  .flex-grid--col-1, .flex-grid--col-desktop-1 { width: 8.33333333%; }
  .flex-grid--col-2, .flex-grid--col-desktop-2 { width: 16.66666667%; }
  .flex-grid--col-3, .flex-grid--col-desktop-3 { width: 25%; }
  .flex-grid--col-4, .flex-grid--col-desktop-4 { width: 33.33333333%; }
  .flex-grid--col-5, .flex-grid--col-desktop-5 { width: 41.66666667%; }
  .flex-grid--col-6, .flex-grid--col-desktop-6 { width: 50%; }
  .flex-grid--col-7, .flex-grid--col-desktop-7 { width: 58.33333333%; }
  .flex-grid--col-8, .flex-grid--col-desktop-8 { width: 66.66666667%; }
  .flex-grid--col-9, .flex-grid--col-desktop-9 { width: 75%; }
  .flex-grid--col-10, .flex-grid--col-desktop-10 { width: 83.33333333%; }
  .flex-grid--col-11, .flex-grid--col-desktop-11 { width: 91.66666667%; }
  .flex-grid--col-12, .flex-grid--col-desktop-12 { width: 100%; }
  .flex-grid--offset-1, .flex-grid--offset-desktop-1 { margin-left: 8.33333333%; }
  .flex-grid--offset-2, .flex-grid--offset-desktop-2 { margin-left: 16.66666667%; }
  .flex-grid--offset-3, .flex-grid--offset-desktop-3 { margin-left: 25%; }
  .flex-grid--offset-4, .flex-grid--offset-desktop-4 { margin-left: 33.33333333%; }
  .flex-grid--offset-5, .flex-grid--offset-desktop-5 { margin-left: 41.66666667%; }
  .flex-grid--offset-6, .flex-grid--offset-desktop-6 { margin-left: 50%; }
  .flex-grid--offset-7, .flex-grid--offset-desktop-7 { margin-left: 58.33333333%; }
  .flex-grid--offset-8, .flex-grid--offset-desktop-8 { margin-left: 66.66666667%; }
  .flex-grid--offset-9, .flex-grid--offset-desktop-9 { margin-left: 75%; }
  .flex-grid--offset-10, .flex-grid--offset-desktop-10 { margin-left: 83.33333333%; }
  .flex-grid--offset-11, .flex-grid--offset-desktop-11 { margin-left: 91.66666667%; }
}
