.row {
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.col {
  float: left;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  text-align: center;

  &[class*="push-"],
  &[class*="pull-"] {
    position: relative;
  }
}

.hidden-s { display: none;}
.s1 { width: 8.33333333%; }
.s2 { width: 16.66666667%; }
.s3 { width: 25%; }
.s4 { width: 33.33333333%; }
.s5 { width: 41.66666667%; }
.s6 { width: 50%; }
.s7 { width: 58.33333333%; }
.s8 { width: 66.66666667%; }
.s9 { width: 75%; }
.s10 { width: 83.33333333%; }
.s11 { width: 91.66666667%; }
.s12 { width: 100%; }
.offset-s1 { margin-left: 8.33333333%; }
.offset-s2 { margin-left: 16.66666667%; }
.offset-s3 { margin-left: 25%; }
.offset-s4 { margin-left: 33.33333333%; }
.offset-s5 { margin-left: 41.66666667%; }
.offset-s6 { margin-left: 50%; }
.offset-s7 { margin-left: 58.33333333%; }
.offset-s8 { margin-left: 66.66666667%; }
.offset-s9 { margin-left: 75%; }
.offset-s10 { margin-left: 83.33333333%; }
.offset-s11 { margin-left: 91.66666667%; }
.offset-s12 { margin-left: 100%; }
.push-s1 { left: 8.33333333%; }
.push-s2 { left: 16.66666667%; }
.push-s3 { left: 25%; }
.push-s4 { left: 33.33333333%; }
.push-s5 { left: 41.66666667%; }
.push-s6 { left: 50%; }
.push-s7 { left: 58.33333333%; }
.push-s8 { left: 66.66666667%; }
.push-s9 { left: 75%; }
.push-s10 { left: 83.33333333%; }
.push-s11 { left: 91.66666667%; }
.push-s12 { left: 100%; }
.pull-s1 { right: 8.33333333%; }
.pull-s2 { right: 16.66666667%; }
.pull-s3 { right: 25%; }
.pull-s4 { right: 33.33333333%; }
.pull-s5 { right: 41.66666667%; }
.pull-s6 { right: 50%; }
.pull-s7 { right: 58.33333333%; }
.pull-s8 { right: 66.66666667%; }
.pull-s9 { right: 75%; }
.pull-s10 { right: 83.33333333%; }
.pull-s11 { right: 91.66666667%; }
.pull-s12 { right: 100%; }

@media screen and (min-width: 601px) and (max-width: 992px) {
  .hidden-m { display: none; }
  .m1 { width: 8.33333333%; }
  .m2 { width: 16.66666667%; }
  .m3 { width: 25%; }
  .m4 { width: 33.33333333%; }
  .m5 { width: 41.66666667%; }
  .m6 { width: 50%; }
  .m7 { width: 58.33333333%; }
  .m8 { width: 66.66666667%; }
  .m9 { width: 75%; }
  .m10 { width: 83.33333333%; }
  .m11 { width: 91.66666667%; }
  .m12 { width: 100%; }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .hidden-l { display: none; }
  .l1 { width: 8.33333333%; }
  .l2 { width: 16.66666667%; }
  .l3 { width: 25%; }
  .l4 { width: 33.33333333%; }
  .l5 { width: 41.66666667%; }
  .l6 { width: 50%; }
  .l7 { width: 58.33333333%; }
  .l8 { width: 66.66666667%; }
  .l9 { width: 75%; }
  .l10 { width: 83.33333333%; }
  .l11 { width: 91.66666667%; }
  .l12 { width: 100%; }
}

@media screen and (min-width: 1201px) {
  .hidden-xl { display: none; }
  .xl1 { width: 8.33333333%; }
  .xl2 { width: 16.66666667%; }
  .xl3 { width: 25%; }
  .xl4 { width: 33.33333333%; }
  .xl5 { width: 41.66666667%; }
  .xl6 { width: 50%; }
  .xl7 { width: 58.33333333%; }
  .xl8 { width: 66.66666667%; }
  .xl9 { width: 75%; }
  .xl10 { width: 83.33333333%; }
  .xl11 { width: 91.66666667%; }
  .xl12 { width: 100%; }
}
