// Common
.label {
  display: inline;
  border-radius: $label-border-radius;
  padding: $label-padding;

  font-size: $label-font-size;
  font-weight: 500;
  line-height: inherit;
  white-space: nowrap;

  background-color: #fff;
  @include shadow-1dp();
}

// Colorful Label
@each $color_name, $color in $colors {
  @each $color_key, $color_value in $color {
    .label--#{$color_key} { background-color: $color_value; color: #fff; }
  }
}

@each $color_name, $color in $colors-text {
  @each $color_key, $color_value in $color {
    .label--#{$color_key} { color: $color_value; }
  }
}
