.list {
  display: block;
  padding: $list-padding;
  list-style: none;
}

.list--item {
  @include typo-subhead();
  line-height: 1;
  display: flex;
  min-height: $list--item-min-height;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: $list--item-padding;
  cursor: default;
  overflow: hidden;

  & .list--item-primary-content {
    order: 0;
    flex-grow: 2;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    & .list--item-icon,
    & .list--item-avatar {
      margin-right: $list--item-primary-content-margin;
    }
  }
}

.list--item-icon {
  width: $list--item-icon-size;
  height: $list--item-icon-size;
  font-size: $list--item-icon-font-size;
}

.list--item-avatar {
  border-radius: $list--item-avater-border-radius;
  width: $list--item-avatar-size;
  height: $list--item-avatar-size;
  font-size: $list--item-avatar-font-size;
}
