.radio {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $radio-size;
}

.radio--input {
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  appearance: none;
  opacity: 0;
}

.radio--label {
  position: relative;
  margin: 0;
  padding-left: $radio-size;
  font-size: $radio--label-font-size;
  line-height: $radio-size;
  cursor: pointer;

  .radio--input:disabled + & {
    color: $palette-grey-500;
    cursor: not-allowed;
  }

  &:before,
  &:after {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    content: '';
  }

  // check
  &:before {
    top: $radio-check-top-offset;
    left: $radio-check-left-offset;
    width: $radio-check-size;
    height: $radio-check-size;
    transition: transform 0.3s ease;

    .radio--input:checked + & {
      background-color: $brand-primary;
      transform: scale3d(1,1,1);
    }

    .radio--input:not(:checked) + & {
      background-color: transparent;
      transform: scale3d(0,0,0);
    }

    .radio--input:disabled:checked + & {
      background-color: $palette-grey-500;
      cursor: not-allowed;
    }

    .radio--input:disabled:not(:checked) + & {
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  // background
  &:after {
    top: $radio-background-top-offset;
    left: $radio-background-left-offset;
    width: $radio-background-size;
    height: $radio-background-size;

    .radio--input:checked + & {
      border: 2px solid $brand-primary;
    }

    .radio--input:not(:checked) + & {
      border: 2px solid $palette-grey-700;
    }

    .radio--input:disabled:checked + & {
      border: 2px solid $palette-grey-500;
      cursor: not-allowed;
    }

    .radio--input:disabled:not(:checked) + & {
      border: 2px solid $palette-grey-500;
      cursor: not-allowed;
    }
  }
}
