.switch {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: $switch-size;
}

.switch--input {
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  appearance: none;
  opacity: 0;
}

.switch--label {
  position: relative;
  display: inline-block;
  border-radius: $switch--label-border-radius;
  width: $switch--label-width;
  height: $switch--label-height;
  transition: background 0.3s ease;
  vertical-align: middle;
  cursor: pointer;

  .switch--input:checked + & {
    background-color: tint($brand-primary, 50);
  }

  .switch--input:not(:checked) + & {
    background-color: rgba(0,0,0,.26);
  }

  .switch--input:checked:disabled + &,
  .switch--input:not(:checked):disabled + & {
    background-color: rgba(0,0,0,.12);
    cursor: not-allowed;
  }

  // check
  &:after {
    position: absolute;
    top: $switch-check-top-offset;
    display: inline-block;
    border-radius: $switch-check-border-radius;
    width: $switch-check-size;
    height: $switch-check-size;
    @include shadow-3dp();
    transition: left 0.3s ease,
                background 0.3s ease,
                box-shadow 0.1s ease;
    cursor: pointer;
    content: '';

    .switch--input:checked + & {
      left: ($switch--label-width - $switch-check-size);
      background-color: $brand-primary;
    }

    .switch--input:not(:checked) + & {
      left: 0;
      background-color: #fafafa;
    }

    .switch--input:checked:disabled + &,
    .switch--input:not(:checked):disabled + & {
      background-color: $palette-grey-400;
      cursor: not-allowed;
    }
  }
}
