.tooltip {
  display: inline-block;
  border-radius: $tooltip-border-radius;
  padding: $tooltip-padding;
  height: $tooltip-size;
  background-color: $palette-grey-700;
  color: $color-white;
  font-size: $tooltip-font-size;
  line-height: $tooltip-size;
  opacity: .9;
}

.tooltip--large {
  height: $tooltip-large-size;
  font-size: $tooltip-large-font-size;
  line-height: $tooltip-large-size;
}
