// Basic Styles
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color-primary;
  width: 980px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  @include typo-display-3($colorContrast: true);

  font-size: 0.6em;
}

h1 {
  @include typo-display-3;

  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  @include typo-display-2;

  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  @include typo-display-1;

  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  @include typo-headline;

  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  @include typo-title;

  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  @include typo-subhead;

  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  @include typo-body-1;

  margin-bottom: 16px;
}

a {
  color: $text-link-color;
  font-weight: 500;
}

blockquote {
  @include typo-blockquote;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

address {
  @include typo-body-1;

  font-style: normal;
  margin-bottom: 16px;
}

ul, ol {
  @include typo-body-1;
}

// Class Name Styles
.typography--display-4 {
  @include typo-display-4;
}

.typography--display-4-color-contrast {
  @include typo-display-4($colorContrast: true);
}

.typography--display-3 {
  @include typo-display-3;
}

.typography--display-3-color-contrast {
  @include typo-display-3($colorContrast: true);
}

.typography--display-2 {
  @include typo-display-2;
}

.typography--display-2-color-contrast {
  @include typo-display-2($colorContrast: true);
}

.typography--display-1 {
  @include typo-display-1;
}

.typography--display-1-color-contrast {
  @include typo-display-1($colorContrast: true);
}

.typography--headline {
  @include typo-headline;
}

.typography--headline-color-contrast {
  @include typo-headline($colorContrast: true);
}

.typography--title {
  @include typo-title;
}

.typography--title-color-contrast {
  @include typo-title($colorContrast: true);
}

.typography--subhead {
  @include typo-subhead;
}

.typography--subhead-color-contrast {
  @include typo-subhead($colorContrast: true);
}

.typography--body-2 {
  @include typo-body-2;
}

.typography--body-2-color-contrast {
  @include typo-body-2($colorContrast: true);
}

.typography--body-1 {
  @include typo-body-1;
}

.typography--body-1-color-contrast {
  @include typo-body-1($colorContrast: true);
}

.typography--caption {
  @include typo-caption;
}

.typography--caption-color-contrast {
  @include typo-caption($colorContrast: true);
}

.typography--menu {
  @include typo-menu;
}

.typography--menu-color-contrast {
  @include typo-menu($colorContrast: true);
}

.typography--button {
  @include typo-button;
}

.typography--button-color-contrast {
  @include typo-button($colorContrast: true);
}

.typography--text-left {
  text-align: left;
}

.typography--text-right {
  text-align: right;
}

.typography--text-center {
  text-align: center;
}

.typography--text-justify {
  text-align: justify;
}

.typography--text-nowrap {
  white-space: nowrap;
}

.typography--text-lowercase {
  text-transform: lowercase;
}

.typography--text-uppercase {
  text-transform: uppercase;
}

.typography--text-capitalize {
  text-transform: capitalize;
}

.typography--font-thin {
  font-weight: 200 !important;
}

.typography--font-light {
  font-weight: 300 !important;
}

.typography--font-regular {
  font-weight: 400 !important;
}

.typography--font-medium {
  font-weight: 500 !important;
}

.typography--font-bold {
  font-weight: 700 !important;
}

.typography--font-black {
  font-weight: 900 !important;
}

.material-icons {
  @include typo-icon;
}

