.card-table {
  background-color: #fff;

  & .table {
    border: 0;

    tbody tr {
      &:last-of-type {
        td {
          border-bottom: 1px solid rgba(#000, 0.24);
        }
      }
    }
  }
  & .card--title-text {
    line-height: 32px;
  }

  & .card--content {
    padding: 18px 14px 18px 24px;
  }

  & .card--menu {
    color: #616161;
  }

  & .card--menu .button:not(:last-of-type) {
    margin-right: 8px;
  }

  & .card--actions .button,
  & .card--actions .card--table-page-text {
    color: #616161;
  }

  & .card--actions .button {
    &[disabled],
    &.button--disabled {
      color: tint(#616161, 60);
    }
  }

  & .card--actions .card--table-page-text {
    margin-right: 8px;
    font-size: 12px;
  }
}
