<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Iconfont</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo i {
      font-size: 20px;
      padding: 4px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Bapul Icons</h1>
  <dl>
    <dt>.bp.bp-email</dt>
    <dd><i class="bp bp-email"></i></dd>
    <dt>.bp.bp-radio</dt>
    <dd><i class="bp bp-radio"></i></dd>
    <dt>.bp.bp-repair</dt>
    <dd><i class="bp bp-repair"></i></dd>
  </dl>

</body>
</html>
