<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Button</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo .button-list {
      margin-bottom: 20px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Button</h1>

  <div class="button-list">
    <button class="button button--red">button</button>
    <button class="button button--pink">button</button>
    <button class="button button--purple">button</button>
    <button class="button button--deep-purple">button</button>
    <button class="button button--blue">button</button>
    <button class="button button--light-blue">button</button>
    <button class="button button--cyan">button</button>
    <button class="button button--teal">button</button>
    <button class="button button--green">button</button>
    <button class="button button--light-green">button</button>
  </div>

  <div class="button-list">
    <button class="button button--lime">button</button>
    <button class="button button--yellow">button</button>
    <button class="button button--amber">button</button>
    <button class="button button--orange">button</button>
    <button class="button button--deep-orange">button</button>
    <button class="button button--brown">button</button>
    <button class="button button--grey">button</button>
    <button class="button button--blue-grey">button</button>
    <button class="button">button</button>
  </div>

  <div class="button-list">
    <button class="button button--pink"><i class="mdi pull-left">favorite</i> button</button>
    <button class="button button--pink"><i class="zmdi zmdi-github pull-left"></i> button</button>
    <button class="button button--pink"><i class="wi wi-day-sunny pull-left"></i> button</button>
  </div>

  <div class="button-list">
    <button class="button button--indigo"><i class="mdi pull-right">favorite</i> button</button>
    <button class="button button--indigo"><i class="zmdi zmdi-github pull-right"></i> button</button>
    <button class="button button--indigo"><i class="wi wi-day-sunny pull-right"></i> button</button>
  </div>

</body>
</html>
