<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Button</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo {
      padding-bottom: 20px;
    }
    .demo .button-list {
      margin-bottom: 20px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Button</h1>

  <div class="button-list">
    <button class="button button--default button--red">button</button>
    <button class="button button--default button--pink">button</button>
    <button class="button button--default button--purple">button</button>
    <button class="button button--default button--deep-purple">button</button>
    <button class="button button--default button--blue">button</button>
    <button class="button button--default button--light-blue">button</button>
    <button class="button button--default button--cyan">button</button>
    <button class="button button--default button--teal">button</button>
    <button class="button button--default button--green">button</button>
    <button class="button button--default button--light-green">button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--lime">button</button>
    <button class="button button--default button--yellow">button</button>
    <button class="button button--default button--amber">button</button>
    <button class="button button--default button--orange">button</button>
    <button class="button button--default button--deep-orange">button</button>
    <button class="button button--default button--brown">button</button>
    <button class="button button--default button--grey">button</button>
    <button class="button button--default button--blue-grey">button</button>
    <button class="button button--default">button</button>
  </div>

  <div class="button-list">
    <button class="button button--default">button</button>
    <button class="button button--default" disabled="disabled">button</button>
    <button class="button button--flat">button</button>
    <button class="button button--flat" disabled="disabled">button</button>
  </div>
  <div class="button-list">
    <a class="button button--default button--red">button</a>
    <a class="button button--default button--red button--disabled">button</a>
    <a class="button button--default button--red-text">button</a>
    <a class="button button--default button--red-text button--disabled">button</a>
    <a class="button button--flat button--red-text">button</a>
    <a class="button button--flat button--red-text button--disabled">button</a>
  </div>
  <div class="button-list">
    <button class="button button--default button--pink">button</button>
    <button class="button button--default button--pink" disabled="disabled">button</button>
    <button class="button button--default button--pink-text">button</button>
    <button class="button button--default button--pink-text" disabled="disabled">button</button>
    <button class="button button--flat button--pink-text">button</button>
    <button class="button button--flat button--pink-text" disabled="disabled">button</button>
  </div>
  <div class="button-list">
    <button class="button button--default button--purple">button</button>
    <button class="button button--default button--purple" disabled="disabled">button</button>
    <button class="button button--default button--purple-text">button</button>
    <button class="button button--default button--purple-text" disabled="disabled">button</button>
    <button class="button button--flat button--purple-text">button</button>
    <button class="button button--flat button--purple-text" disabled="disabled">button</button>
  </div>
  <div class="button-list">
    <button class="button button--default button--deep-purple">button</button>
    <button class="button button--default button--deep-purple" disabled="disabled">button</button>
    <button class="button button--default button--deep-purple-text">button</button>
    <button class="button button--default button--deep-purple-text" disabled="disabled">button</button>
    <button class="button button--flat button--deep-purple-text">button</button>
    <button class="button button--flat button--deep-purple-text" disabled="disabled">button</button>
  </div>
  <div class="button-list">
    <button class="button button--default button--indigo">button</button>
    <button class="button button--default button--indigo" disabled="disabled">button</button>
    <button class="button button--default button--indigo-text">button</button>
    <button class="button button--default button--indigo-text" disabled="disabled">button</button>
    <button class="button button--flat button--indigo-text">button</button>
    <button class="button button--flat button--indigo-text" disabled="disabled">button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--pink"><i class="mdi left">favorite</i> button</button>
    <button class="button button--default button--pink"><i class="zmdi zmdi-github left"></i> button</button>
    <button class="button button--default button--pink"><i class="wi wi-day-sunny left"></i> button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--indigo"><i class="mdi right">favorite</i> button</button>
    <button class="button button--default button--indigo"><i class="zmdi zmdi-github right"></i> button</button>
    <button class="button button--default button--indigo"><i class="wi wi-day-sunny right"></i> button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--default-large button--pink">button</button>
    <button class="button button--default button--pink">button</button>
    <button class="button button--default button--default-small button--pink">button</button>
    <button class="button button--default button--default-large button--indigo">button</button>
    <button class="button button--default button--indigo">button</button>
    <button class="button button--default button--default-small button--indigo">button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--default-large button--pink"><i class="mdi left">favorite</i> button</button>
    <button class="button button--default button--pink"><i class="zmdi zmdi-github left"></i> button</button>
    <button class="button button--default button--default-small button--pink"><i class="wi wi-day-sunny left"></i> button</button>
    <button class="button button--default button--default-large button--indigo"><i class="mdi right">favorite</i> button</button>
    <button class="button button--default button--indigo"><i class="zmdi zmdi-github right"></i> button</button>
    <button class="button button--default button--default-small button--indigo"><i class="wi wi-day-sunny right"></i> button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--red-text">button</button>
    <button class="button button--default button--pink-text">button</button>
    <button class="button button--default button--purple-text">button</button>
    <button class="button button--default button--deep-purple-text">button</button>
    <button class="button button--default button--blue-text">button</button>
    <button class="button button--default button--light-blue-text">button</button>
    <button class="button button--default button--cyan-text">button</button>
    <button class="button button--default button--teal-text">button</button>
    <button class="button button--default button--green-text">button</button>
    <button class="button button--default button--light-green-text">button</button>
  </div>

  <div class="button-list">
    <button class="button button--default button--lime-text">button</button>
    <button class="button button--default button--yellow-text">button</button>
    <button class="button button--default button--amber-text">button</button>
    <button class="button button--default button--orange-text">button</button>
    <button class="button button--default button--deep-orange-text">button</button>
    <button class="button button--default button--brown-text">button</button>
    <button class="button button--default button--grey-text">button</button>
    <button class="button button--default button--blue-grey-text">button</button>
    <button class="button button--default">button</button>
  </div>

  <div class="button-list">
    <button class="button button--flat button--red-text">button</button>
    <button class="button button--flat button--pink-text">button</button>
    <button class="button button--flat button--purple-text">button</button>
    <button class="button button--flat button--deep-purple-text">button</button>
    <button class="button button--flat button--blue-text">button</button>
    <button class="button button--flat button--light-blue-text">button</button>
    <button class="button button--flat button--cyan-text">button</button>
    <button class="button button--flat button--teal-text">button</button>
    <button class="button button--flat button--green-text">button</button>
    <button class="button button--flat button--light-green-text">button</button>
  </div>

  <div class="button-list">
    <button class="button button--flat button--lime-text">button</button>
    <button class="button button--flat button--yellow-text">button</button>
    <button class="button button--flat button--amber-text">button</button>
    <button class="button button--flat button--orange-text">button</button>
    <button class="button button--flat button--deep-orange-text">button</button>
    <button class="button button--flat button--brown-text">button</button>
    <button class="button button--flat button--grey-text">button</button>
    <button class="button button--flat button--blue-grey-text">button</button>
    <button class="button button--flat">button</button>
  </div>

  <div class="button-list">
    <button class="button button--flat button--flat-large button--pink-text"><i class="mdi left">favorite</i> button</button>
    <button class="button button--flat button--pink-text"><i class="zmdi zmdi-github left"></i> button</button>
    <button class="button button--flat button--flat-small button--pink-text"><i class="wi wi-day-sunny left"></i> button</button>
    <button class="button button--flat button--flat-large button--indigo-text"><i class="mdi right">favorite</i> button</button>
    <button class="button button--flat button--indigo-text"><i class="zmdi zmdi-github right"></i> button</button>
    <button class="button button--flat button--flat-small button--indigo-text"><i class="wi wi-day-sunny right"></i> button</button>
  </div>

  <div class="button-list">
    <button class="button button--fab button--fab-large button--indigo"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--fab button--fab-large button--light-blue"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--fab button--fab-large button--blue"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--fab button--fab-large button--pink"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--fab button--fab-large button--purple"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--fab button--fab-large button--orange"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--fab button--fab-large button--red"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--fab button--fab-large button--deep-orange"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <button class="button button--fab button--indigo"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--fab button--light-blue"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--fab button--blue"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--fab button--pink"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--fab button--purple"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--fab button--orange"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--fab button--red"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--fab button--deep-orange"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <button class="button button--fab button--fab-small button--indigo"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--fab button--fab-small button--light-blue"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--fab button--fab-small button--blue"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--fab button--fab-small button--pink"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--fab button--fab-small button--purple"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--fab button--fab-small button--orange"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--fab button--fab-small button--red"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--fab button--fab-small button--deep-orange"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <a class="button button--fab button--indigo"><i class="mdi">add</i></a>
    <a class="button button--fab button--indigo button--disabled"><i class="mdi">add</i></a>
    <a class="button button--fab button--indigo-text"><i class="mdi">add</i></a>
    <a class="button button--fab button--indigo-text button--disabled"><i class="mdi">add</i></a>

    <button class="button button--fab button--light-blue"><i class="mdi">info</i></button>
    <button class="button button--fab button--light-blue" disabled="disabled"><i class="mdi">info</i></button>
    <button class="button button--fab button--light-blue-text"><i class="mdi">info</i></button>
    <button class="button button--fab button--light-blue-text" disabled="disabled"><i class="mdi">info</i></button>

    <button class="button button--fab button--blue"><i class="mdi">lock</i></button>
    <button class="button button--fab button--blue" disabled="disabled"><i class="mdi">lock</i></button>
    <button class="button button--fab button--blue-text"><i class="mdi">lock</i></button>
    <button class="button button--fab button--blue-text" disabled="disabled"><i class="mdi">lock</i></button>
  </div>
  <div class="button-list">
    <button class="button button--fab button--pink"><i class="mdi">edit</i></button>
    <button class="button button--fab button--pink" disabled="disabled"><i class="mdi">edit</i></button>
    <button class="button button--fab button--pink-text"><i class="mdi">edit</i></button>
    <button class="button button--fab button--pink-text" disabled="disabled"><i class="mdi">edit</i></button>

    <button class="button button--fab button--purple"><i class="mdi">home</i></button>
    <button class="button button--fab button--purple" disabled="disabled"><i class="mdi">home</i></button>
    <button class="button button--fab button--purple-text"><i class="mdi">home</i></button>
    <button class="button button--fab button--purple-text" disabled="disabled"><i class="mdi">home</i></button>

    <button class="button button--fab button--orange"><i class="mdi">lightbulb_outline</i></button>
    <button class="button button--fab button--orange" disabled="disabled"><i class="mdi">lightbulb_outline</i></button>
    <button class="button button--fab button--orange-text"><i class="mdi">lightbulb_outline</i></button>
    <button class="button button--fab button--orange-text" disabled="disabled"><i class="mdi">lightbulb_outline</i></button>
  </div>
  <div class="button-list">
    <button class="button button--fab button--red"><i class="mdi">search</i></button>
    <button class="button button--fab button--red" disabled="disabled"><i class="mdi">search</i></button>
    <button class="button button--fab button--red-text"><i class="mdi">search</i></button>
    <button class="button button--fab button--red-text" disabled="disabled"><i class="mdi">search</i></button>

    <button class="button button--fab button--deep-orange"><i class="zmdi zmdi-rss"></i></button>
    <button class="button button--fab button--deep-orange" disabled="disabled"><i class="zmdi zmdi-rss"></i></button>
    <button class="button button--fab button--deep-orange-text"><i class="zmdi zmdi-rss"></i></button>
    <button class="button button--fab button--deep-orange-text" disabled="disabled"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <button class="button button--icon button--icon-large button--indigo-text"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--icon button--icon-large button--light-blue-text"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--icon button--icon-large button--blue-text"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--icon button--icon-large button--pink-text"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--icon button--icon-large button--purple-text"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--icon button--icon-large button--orange-text"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--icon button--icon-large button--red-text"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--icon button--icon-large button--deep-orange-text"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <button class="button button--icon button--indigo-text"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--icon button--light-blue-text"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--icon button--blue-text"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--icon button--pink-text"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--icon button--purple-text"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--icon button--orange-text"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--icon button--red-text"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--icon button--deep-orange-text"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <button class="button button--icon button--icon-small button--indigo-text"><i class="zmdi zmdi-facebook"></i></button>
    <button class="button button--icon button--icon-small button--light-blue-text"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--icon button--icon-small button--blue-text"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--icon button--icon-small button--pink-text"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--icon button--icon-small button--purple-text"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--icon button--icon-small button--orange-text"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--icon button--icon-small button--red-text"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--icon button--icon-small button--deep-orange-text"><i class="zmdi zmdi-rss"></i></button>
  </div>

  <div class="button-list">
    <a class="button button--icon button--indigo-text"><i class="zmdi zmdi-facebook"></i></a>
    <a class="button button--icon button--indigo-text button--disabled"><i class="zmdi zmdi-facebook"></i></a>

    <button class="button button--icon button--light-blue-text"><i class="zmdi zmdi-twitter"></i></button>
    <button class="button button--icon button--light-blue-text" disabled="disabled"><i class="zmdi zmdi-twitter"></i></button>

    <button class="button button--icon button--blue-text"><i class="zmdi zmdi-linkedin"></i></button>
    <button class="button button--icon button--blue-text" disabled="disabled"><i class="zmdi zmdi-linkedin"></i></button>

    <button class="button button--icon button--pink-text"><i class="zmdi zmdi-dribbble"></i></button>
    <button class="button button--icon button--pink-text" disabled="disabled"><i class="zmdi zmdi-dribbble"></i></button>

    <button class="button button--icon button--purple-text"><i class="zmdi zmdi-instagram"></i></button>
    <button class="button button--icon button--purple-text" disabled="disabled"><i class="zmdi zmdi-instagram"></i></button>

    <button class="button button--icon button--orange-text"><i class="zmdi zmdi-google-plus"></i></button>
    <button class="button button--icon button--orange-text" disabled="disabled"><i class="zmdi zmdi-google-plus"></i></button>

    <button class="button button--icon button--red-text"><i class="zmdi zmdi-youtube"></i></button>
    <button class="button button--icon button--red-text" disabled="disabled"><i class="zmdi zmdi-youtube"></i></button>

    <button class="button button--icon button--deep-orange-text"><i class="zmdi zmdi-rss"></i></button>
    <button class="button button--icon button--deep-orange-text" disabled="disabled"><i class="zmdi zmdi-rss"></i></button>
  </div>

</body>
</html>
