<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Checkbox</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo .checkbox-list {
      margin-bottom: 20px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Checkbox</h1>

  <div class="checkbox-list">
    <label class="checkbox" for="checkbox-1">
      <input type="checkbox" id="checkbox-1" class="checkbox--input" checked>
      <span class="checkbox--label">Checkbox</span>
    </label>
    <label class="checkbox" for="checkbox-2">
      <input type="checkbox" id="checkbox-2" class="checkbox--input">
      <span class="checkbox--label">Checkbox</span>
    </label>
    <label class="checkbox" for="checkbox-3">
      <input type="checkbox" id="checkbox-3" class="checkbox--input" checked disabled>
      <span class="checkbox--label">Checkbox</span>
    </label>
    <label class="checkbox" for="checkbox-4">
      <input type="checkbox" id="checkbox-4" class="checkbox--input" disabled>
      <span class="checkbox--label">Checkbox</span>
    </label>
  </div>

  <!-- Main javascript -->
  <script src="/scripts/script.js"></script>

</body>
</html>
