<style>
  .demo .checkbox-list {
    margin-bottom: 20px;
  }
</style>
<section class="demo">

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Checkbox Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="checkbox-list">
        <label class="checkbox" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="checkbox--input" checked>
          <span class="checkbox--label">Checkbox</span>
        </label>
        <label class="checkbox" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="checkbox--input">
          <span class="checkbox--label">Checkbox</span>
        </label>
        <label class="checkbox" for="checkbox-3">
          <input type="checkbox" id="checkbox-3" class="checkbox--input" checked disabled>
          <span class="checkbox--label">Checkbox</span>
        </label>
        <label class="checkbox" for="checkbox-4">
          <input type="checkbox" id="checkbox-4" class="checkbox--input" disabled>
          <span class="checkbox--label">Checkbox</span>
        </label>
      </div>
    </div>
  </div>

</section>
