<style>
  .demo .flex-grid--cell {
    padding: 1rem 0.5rem;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #F44336;
    color: #fff;
  }
</style>
<section class="demo">

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Flex Grid Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="flex-grid">
        <div class="flex-grid--cell flex-grid--col-1 flex-grid--order-12">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
        <div class="flex-grid--cell flex-grid--col-1">1</div>
      </div>
      <div class="flex-grid">
        <div class="flex-grid--cell flex-grid--col-4">4</div>
        <div class="flex-grid--cell flex-grid--col-4">4</div>
        <div class="flex-grid--cell flex-grid--col-4">4</div>
      </div>
      <div class="flex-grid">
        <div class="flex-grid--cell flex-grid--col-6">6</div>
        <div class="flex-grid--cell flex-grid--col-4">4</div>
        <div class="flex-grid--cell flex-grid--col-2">2</div>
      </div>
      <div class="flex-grid">
        <div class="flex-grid--cell flex-grid--col-6 flex-grid--col-tablet-8">6 (8 tablet)</div>
        <div class="flex-grid--cell flex-grid--col-4 flex-grid--col-tablet-6">4 (6 tablet)</div>
        <div class="flex-grid--cell flex-grid--col-2 flex-grid--col-phone-4">2 (4 phone)</div>
      </div>
    </div>
  </div>

</section>
