<style>
  body {
    width: 100%;
  }
  .demo .float-grid--cell {
    padding: 1rem 0.5rem;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #F44336;
    color: #fff;
  }
</style>
<section class="demo">

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Float Grid Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
        <div class="float-grid--cell float-grid--col-1">s1</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-2">s2</div>
        <div class="float-grid--cell float-grid--col-2">s2</div>
        <div class="float-grid--cell float-grid--col-2">s2</div>
        <div class="float-grid--cell float-grid--col-2">s2</div>
        <div class="float-grid--cell float-grid--col-2">s2</div>
        <div class="float-grid--cell float-grid--col-2">s2</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-3">s3</div>
        <div class="float-grid--cell float-grid--col-3">s3</div>
        <div class="float-grid--cell float-grid--col-3">s3</div>
        <div class="float-grid--cell float-grid--col-3">s3</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-4">s4</div>
        <div class="float-grid--cell float-grid--col-4">s4</div>
        <div class="float-grid--cell float-grid--col-4">s4</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-6 float-grid--offset-3">s6</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-12">s12</div>
      </div>
      <div class="float-grid">
        <div class="float-grid--cell float-grid--col-2">A</div>
        <div class="float-grid--cell float-grid--col-2 float-grid--push-6">B</div>
        <div class="float-grid--cell float-grid--col-2">C</div>
      </div>
    </div>
  </div>

</section>
