<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Font</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  <h1 class="color-text--grey-700">Font</h1>
  <h2 class="color-text--grey-600">Roboto</h2>
  <p lang="en">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut dolores dolorum excepturi illo neque omnis placeat quod rerum veritatis.</p>

  <h2 class="color-text--grey-600">Noto sans KR</h2>
  <p lang="ko">대한민국의 영토는 한반도와 그 부속도서로 한다. 모든 국민은 인간다운 생활을 할 권리를 가진다. 국가안전보장에 관련되는 대외정책·군사정책과 국내정책의 수립에 관하여 국무회의의 심의에 앞서 대통령의 자문에 응하기 위하여 국가안전보장회의를 둔다.</p>

  <h2 class="color-text--grey-600">Noto sans JP</h2>
  <p lang="ja">私は一部いったいわが乱暴院というのの頃をありなな。けっして昔に講演顔は単にその合点ですましかもの聴いているうには説明なるでですて、そうには行かないですたです。此年を載せますものも時々場合がもうですですた。たとい岩崎さんに講演他とても講演のした風俗こうした通りそれか招待にという不啓発ないんますでので、その生涯は私か書籍腹の中をありて、槙さんののに馳の私によしご発展とできるばあなた性質をごお話を与えように引続き今関係に出ありなから、もしやはり活動に衝くなかろがおかならのから過ぎんです。</p>

  <h2 class="color-text--grey-600">Noto sans SC</h2>
  <p lang="zh-Hans">对外汉语听力教程 第一册 教材+学习参考</p>

</body>
</html>
