<style>
  .demo .layout--container {
    position: static;
  }
</style>
<section class="demo">

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Layout Basic Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="layout--container">
        <div class="layout layout-js layout--fixed-drawer">
          <header class="layout--header">
            <div class="layout--drawer-button" role="button" ><i class="mdi">menu</i></div>
            <button class="layout--minified-button button button--icon"><i class="mdi">swap_horiz</i></button>
            <span class="layout--logo">Logo</span>
            <div class="layout--header-row">
              <span class="layout--title">Layout</span>
              <div class="layout-spacer"></div>
            </div>
          </header>
          <div class="layout--drawer" aria-hidden="true">
            <span class="layout--title">Title</span>
            <nav class="navigation">
              <a href="#" class="navigation--link"><i class="mdi">content_paste</i><span>link</span></a>
              <a href="#" class="navigation--link"><i class="mdi">content_paste</i><span>link</span></a>
              <a href="#" class="navigation--link"><i class="mdi">content_paste</i><span>link</span></a>
              <a href="#" class="navigation--link"><i class="mdi">content_paste</i><span>link</span></a>
            </nav>
          </div>
          <main class="layout--content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at beatae cum dolore ea esse ex fuga iste iusto nobis officia quas quia quisquam vel, veritatis vitae voluptas! Assumenda atque aut culpa cupiditate excepturi facere libero repudiandae sapiente tempora veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque exercitationem expedita, illum ipsam ipsum libero numquam, perferendis quasi quia quibusdam quisquam totam, ut voluptatibus? Aspernatur at doloribus error et minus nesciunt odit officiis, omnis quas quasi recusandae reprehenderit saepe tempora.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae blanditiis corporis cumque eaque eum id illum ipsum maxime, nihil nulla praesentium provident qui? A excepturi pariatur voluptas? Beatae distinctio dolore ducimus minus nam necessitatibus nemo non quasi sint sunt.</p>
          </main>
          <div class="layout--obfuscator" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>

</section>
