<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Spinner</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Spinner</h1>

  <div class="spinner is-active is-upgraded">
    <div class="spinner__layer spinner__layer-1">
      <div class="spinner__circle-clipper spinner__left">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__gap-patch">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__circle-clipper spinner__right">
        <div class="spinner__circle"></div>
      </div>
    </div>

    <div class="spinner__layer spinner__layer-2">
      <div class="spinner__circle-clipper spinner__left">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__gap-patch">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__circle-clipper spinner__right">
        <div class="spinner__circle"></div>
      </div>
    </div>

    <div class="spinner__layer spinner__layer-3">
      <div class="spinner__circle-clipper spinner__left">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__gap-patch">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__circle-clipper spinner__right">
        <div class="spinner__circle"></div>
      </div>
    </div>

    <div class="spinner__layer spinner__layer-4">
      <div class="spinner__circle-clipper spinner__left">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__gap-patch">
        <div class="spinner__circle"></div>
      </div>
      <div class="spinner__circle-clipper spinner__right">
        <div class="spinner__circle"></div>
      </div>
    </div>
  </div>

</body>
</html>
