<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Material Design Iconic Font</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo i {
      font-size: 20px;
      padding: 4px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Material Design Iconic Font</h1>
  <p><a href="http://zavoloklom.github.io/material-design-iconic-font/">http://zavoloklom.github.io/material-design-iconic-font/</a></p>

  <i class="zmdi zmdi-apple color-text--pink"></i>
  <i class="zmdi zmdi-facebook color-text--indigo"></i>
  <i class="zmdi zmdi-github color-text--brown"></i>

</body>
</html>
