<style>
  .demo i {
    font-size: 20px;
    padding: 4px;
  }
</style>
<section class="demo">

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Material Design Iconic Font Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <p><a href="http://zavoloklom.github.io/material-design-iconic-font/">http://zavoloklom.github.io/material-design-iconic-font/</a></p>

      <i class="zmdi zmdi-apple color-text--pink"></i>
      <i class="zmdi zmdi-facebook color-text--indigo"></i>
      <i class="zmdi zmdi-github color-text--brown"></i>
    </div>
  </div>

</section>
