<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Material Design Icons</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo i {
      font-size: 20px;
      padding: 4px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Material Design Icons</h1>
  <p><a href="https://design.google.com/icons/">https://design.google.com/icons/</a></p>
  <p><a href="https://www.google.com/design/spec/style/icons.html">https://www.google.com/design/spec/style/icons.html</a></p>
  <p><a href="http://google.github.io/material-design-icons/">http://google.github.io/material-design-icons/</a></p>

  <i class="material-icons md-48 color-text--indigo">face</i>
  <i class="material-icons md-36 color-text--red">favorite</i>
  <i class="material-icons md-24 color-text--light-blue">cloud</i>
  <i class="material-icons md-18 color-text--brown">adb</i>

</body>
</html>
