<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Panel</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .panel {
      margin-bottom: 20px;
      /*width: 800px;*/
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Panel</h1>

  <div class="panel shadow--2dp">
    <div class="panel--title">
      <h2 class="panel--title-text">
        Alternative Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content panel--border">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--title-alternative">
      <h2 class="panel--title-text">
        Alternative Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-alternative">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--title-red">
      <h2 class="panel--title-text">
        Alternative Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--title-pink">
      <h2 class="panel--title-text">
        Alternative Example
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel panel-js shadow--2dp">
    <div class="panel--title panel--sub panel--title-purple">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
      <button class="button button--fab button--fab-small button--pink panel--action"><i class="mdi">list</i></button>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid delectus distinctio earum error ipsam laboriosam minima qui ullam?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, cum dolores ipsam iste maiores minus nesciunt rem saepe sequi voluptas!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt distinctio, exercitationem laudantium modi nobis pariatur perferendis quis similique soluta voluptas!</p>
      </div>
    </div>
    <div class="panel--reveal">
      <div class="panel--title">
        <h2 class="panel--title-text">
          Revenue by Month
        </h2>
        <div class="layout-spacer"></div>
        <div class="panel--menu">
          <button class="button button--icon panel--reveal-close" type="button"><i class="mdi">close</i></button>
        </div>
      </div>
      <div class="panel--content">
        <table class="table table--non-border">
          <thead>
            <tr>
              <th class="table-cell--non-numeric">Month</th>
              <th>Item Sold</th>
              <th>Item Price</th>
              <th>Total Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell--non-numeric">January</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">February</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">March</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">January</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">February</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">March</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">January</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">February</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
            <tr>
              <td class="table-cell--non-numeric">March</td>
              <td>122</td>
              <td>100</td>
              <td>$122,00.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-deep-purple">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-indigo">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-blue">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-light-blue">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-cyan">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-teal">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-green">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-light-green">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-lime">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-yellow">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-amber">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-orange">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-deep-orange">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-brown">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <div class="panel shadow--2dp">
    <div class="panel--title panel--sub panel--title-grey">
      <h2 class="panel--title-text">
        Alternative Example
        <small>You can type anything here...</small>
      </h2>
      <div class="layout-spacer"></div>
      <div class="panel--menu">
        <button class="button button--icon" type="button"><i class="mdi">more_vert</i></button>
      </div>
    </div>
    <div class="panel--content">
      <div class="panel--supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>

  <!-- Main javascript -->
  <script src="/scripts/script.js"></script>

</body>
</html>
