<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Radio</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo .radio-list {
      margin-bottom: 20px;
    }

    .demo .radio {
      margin-right: 20px;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Radio</h1>

  <div class="radio-list">
    <label class="radio" for="radio-1">
      <input type="radio" id="radio-1" class="radio--input" name="radios" value="1" checked>
      <span class="radio--label">First</span>
    </label>
    <label class="radio" for="radio-2">
      <input type="radio" id="radio-2" class="radio--input" name="radios" value="2">
      <span class="radio--label">Second</span>
    </label>
    <label class="radio" for="radio-3">
      <input type="radio" id="radio-3" class="radio--input" name="disabled" value="3" checked disabled>
      <span class="radio--label">Disabled First</span>
    </label>
    <label class="radio" for="radio-4">
      <input type="radio" id="radio-4" class="radio--input" name="disabled" value="4" disabled>
      <span class="radio--label">Disabled Second</span>
    </label>
  </div>

  <!-- Main javascript -->
  <script src="/scripts/script.js"></script>

</body>
</html>
