<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shadow</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .demo .shadow-list {
      padding: 20px;
      width: 100%;
    }
    .demo .shadow-list [class*=shadow] {
      background-color: #fff;
      border-radius: 2px;
      margin-bottom: 20px;
      margin-right: 32px;
      padding: 10px;
      float: left;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 72px;
      height: 72px;
      color: #9E9E9E;
    }
  </style>
</head>
<body class="demo">

  <h1 class="color-text--grey-700">Shadow</h1>

  <div class="shadow-list">
    <div class="shadow--0dp">0dp</div>
    <div class="shadow--1dp">1dp</div>
    <div class="shadow--2dp">2dp</div>
    <div class="shadow--3dp">3dp</div>
    <div class="shadow--4dp">4dp</div>
    <div class="shadow--5dp">5dp</div>
    <div class="shadow--6dp">6dp</div>
    <div class="shadow--7dp">7dp</div>
    <div class="shadow--8dp">8dp</div>
    <div class="shadow--9dp">9dp</div>
    <div class="shadow--10dp">10dp</div>
    <div class="shadow--11dp">11dp</div>
    <div class="shadow--12dp">12dp</div>
    <div class="shadow--13dp">13dp</div>
    <div class="shadow--14dp">14dp</div>
    <div class="shadow--15dp">15dp</div>
    <div class="shadow--16dp">16dp</div>
    <div class="shadow--17dp">17dp</div>
    <div class="shadow--18dp">18dp</div>
    <div class="shadow--19dp">19dp</div>
    <div class="shadow--20dp">20dp</div>
    <div class="shadow--21dp">21dp</div>
    <div class="shadow--22dp">22dp</div>
    <div class="shadow--23dp">23dp</div>
    <div class="shadow--24dp">24dp</div>
  </div>

</body>
</html>
