<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Sprite</title>
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    dd {
      padding: 10px;
    }
  </style>
</head>
<body>

  <h1 class="color-text--grey-700">Sprite</h1>
  <dl>
    <dt>.sprite-ironman_bronze</dt>
    <dd><div class="sprite-ironman_bronze"></div></dd>
    <dt>.sprite-ironman_silver</dt>
    <dd><div class="sprite-ironman_silver"></div></dd>
    <dt>.sprite-ironman_gold</dt>
    <dd><div class="sprite-ironman_gold"></div></dd>
  </dl>

</body>
</html>
